#!/bin/bash
#tar_file_name="$(ip -br addr show | grep ens | awk -F ' +' '{print $3}' | awk -F '/' '{print $1}')"
tar_file_name="$(hostname)"
tar_file_name+="-$(date '+%Y-%m-%d').tar.gz"
#mkdir -p /root/env_files && \ 
find ~/ -name .env -exec tar -cvzf "${tar_file_name}" {} + && \
scp "${tar_file_name}" root@{{ backup_server_ip }}:/root/backup/env_files/
